/* @font-face {
  font-family: "Aa Jiu Zhong Xiao";
  src: url("/AaJiuZhongXiao-2.ttf") format("truetype");
} */

@font-face {
  font-family: "Aa Jiu Zhong Xiao";
  src: url("/FangZhengKaiTiJianTi-1.ttf") format("truetype");
}

@font-face {
  font-family: "Lubalin Graph BT Bold";
  src: url("/LubalinGraphITCbyBT-Bold.otf");
}

body {
  min-height: 100dvh;
  min-width: 100%;
  font-family: "Lubalin Graph BT Bold", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  background: #fcdac4;
}

.EN {
  font-family: "Lubalin Graph BT Bold", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
}

.中文 {
  font-family: "Aa Jiu Zhong Xiao", "Lubalin Graph BT Bold", Cambria, Cochin,
    Georgia, Times, "Times New Roman", serif;
}

/* .中文 input::placeholder {
  transform: translateY(25%);
}

.中文 span {
  transform: translateY(50%);
} */

body:has(#root > .title_page) {
  background: url("/img/title_page.png") #fcdac4;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

body:has(#root > .end_page) {
  background: url("/img/ending_page.png") #dd5350;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
}

.textOutline {
  -webkit-text-stroke: 0.45px #faf5f5;
}

.中文 .textOutline {
  -webkit-text-stroke: 0px #faf5f5;
}

.textShadow {
  text-shadow: 2px 2px 3px #99303055;
}

.endPageText {
  text-shadow: 2px 2px 3px #983232;
}

.glowText {
  text-shadow: 0px 0px 15px #e3e04b88;
}

.glowTextRed {
  -webkit-text-stroke: 2px #d7220d88;
}

#scroll {
  background-image: url("/img/Scroll.png");
  width: 100%;
  aspect-ratio: 1.6;
  background-size: contain;
  background-repeat: no-repeat;
}

#scroll:before {
  content: "";
  display: block;
  background: url("/img/Scroll_Glow.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  aspect-ratio: 1;
  position: absolute;
  z-index: -1;
  border-radius: 100%;
  top: -50%;
  transform: translateY(8%);
}

/*TEST*/

.dot{
  width:35px;
  height:35px;
  position:absolute;
  background: url(http://img.babathe.com/upload/specialDisplay/htmlImage/2019/20190104_rose2.png);
  background-size: 100% 100%;
}
.dot2{
  width:35px;
  height:35px;
  position:absolute;
  background: url(http://img.babathe.com/upload/specialDisplay/htmlImage/2019/20190104_rose.png);
  background-size: 100% 100%;
}
.dot3{
  width:35px;
  height:35px;
  position:absolute;
  background: url(http://img.babathe.com/upload/specialDisplay/htmlImage/2019/20190104_rose3.png);
  background-size: 100% 100%;
}
#container {width:100%; height:100%; }
